<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="height: 20px"></div>
<div style="float: left">
 <span style="font-weight: bold">
     Date: 12/09/2018
 </span>
</div>
<div style="clear: both;">

</div>
<div style="text-align: center">    
<h1>Invioce View PDF</h1>
<h3>Company Name</h3>
</div>
<div style="clear: both;height: 10px;"></div>
<div>
        <div style="width: 45%; float: left;">
            <table>
                <tbody>
                    <tr>
                       <th>Field One</th>
                       <td>:</td>
                       <td>Value</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 45%; float: left;">
            <table>
                <tbody>
                    <tr>
                        <th>Filed Two</th>
                        <td>:<td>
                        <td>value Tow</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<div style="clear: both;height: 20px;"></div>
<div>
    <table style="width:100%;margin:0px; padding:0px;" border="0px" cellspacing="0">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Line Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               <td colspan="3"></td>
               <td></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>